<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create a team and Heroes!</title>

</head>
<body>
  <h1>Create a team and Heroes!</h1>

  <form method="post" action="/team">
    <label for="name"> Team Name:</label><br>
    <input type="text" id="name" name="team[name]"><br>
    <label for="motto"> Team Motto:</label><br>
    <input type="text" id="weight" name="team[motto]"><br>

    <h1>Hero 1</h1>

    <form method="post" action="/team">
      <label for="name"> Hero's Name:</label><br>
      <input type="text" id="name" name="hero[name]"><br>
      <label for="power"> Hero's Power:</label><br>
      <input type="text" id="power" name="hero[power]"><br>
      <label for="bio"> Hero's Biography:</label><br>
      <input type="text" id="bio" name="hero[bio]"><br>

    <h1>Hero 2</h1>

    <form method="post" action="/team">
      <label for="name"> Hero's Name:</label><br>
      <input type="text" id="name" name="hero[name]"><br>
      <label for="power"> Hero's Power:</label><br>
      <input type="text" id="power" name="hero[power]"><br>
      <label for="bio"> Hero's Biography:</label><br>
      <input type="text" id="bio" name="hero[bio]"><br>

      <h1>Hero 3</h1>

      <form method="post" action="/team">
        <label for="name"> Hero's Name:</label><br>
        <input type="text" id="name" name="hero[name]"><br>
        <label for="power"> Hero's Power:</label><br>
        <input type="text" id="power" name="hero[power]"><br>
        <label for="bio"> Hero's Biography:</label><br>
        <input type="text" id="bio" name="hero[bio]"><br>

    <input type="submit" value="Submit">
  </form>

</body>



</html>
